#remove example from file name and fill with your data
SPARK_MASTER_NAME=spark-master
SPARK_MASTER_PORT=7077
SPARK_APPLICATION_MAIN_CLASS=Application
SPARK_APPLICATION_ARGS=""

TWITTER_CONSUMER_KEY
TWITTER_CONSUMER_SECRET
TWITTER_ACCESS_TOKEN
TWITTER_ACCESS_TOKEN_SECRET
TWITTER_HASH_TAGS_FILTERS="kpi music"

ENABLE_INIT_DAEMON=false